@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Laptop view */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    /* font-size: 18px; */
}
    
.container{
    /* background-color: grey; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* LEFT SECTION */
/* CARDS */
.cards{
    /* background-color: yellow; */
    position: relative;
    height: 100vh;
    /* width: 500px; */
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    color: #FFF;
}

.front-card{
    position: absolute;
    /* height: 245px; */
    height: auto;
    /* width: 100%; */
    /* width: 447px; */
    /* min-width: auto; */
    width: 400px;
    border-radius: 15px;
    /* height: 245px; */
    /* background-color: green; */
    z-index: 10;
    background-image: url(images/bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 10rem;
    top: 6rem;
    padding: 30px;
    /* border: solid black; */
}

#cardNumber{
    /* border: solid black; */
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 50px;
}

.bottomCard{
    margin-top: 30px;
    /* border: solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.back-card{
    position: absolute;
    height: 220px;
    width: 400px;
    border-radius: 15px;
    /* background-color: green; */
    z-index: 10;
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 15rem;
    top: 23rem;
}

#userCVC{
    display: flex;
    /* align-items: center; */
    margin-top: 6rem;
    margin-right: 50px;
    justify-content: end;
}

/* RIGHT SECTION */
.info{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* column-gap: 50px; */
}

label{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

input{
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 77%);
    padding: 10px;
    outline: none;
    margin-bottom: 5px;
    margin-top: 8px;
    font-weight: 600;
    /* color: ; */
    cursor: pointer;
}

input::placeholder{
    color: hsl(0, 0%, 77%);
}

#username, #userCardNumber, .btn{
    width: 350px;
}

.bottomForm{
    display: flex;
    column-gap: 14px;
}

.expDate{
    width: 70px;
}

.btn{
    background-color: hsl(278, 68%, 11%);
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

/* ACTIVE STATES */
.error{
    border-color: hsl(0, 100%, 66%);
    border-width: 1px;
}

input:focus{
    border: 2px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 10% round;
}

/* COMPLETED SECTION */
/* .hidden{
    display: none;
} */

.complete{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complete_head{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight:600;
}
.complete_p{
    color: hsl(279, 6%, 55%);
    margin-bottom: 20px;
}